.App {
    text-align: center;
    /* background-image: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX30045320.jpg"); */
    background-color: rgb(84, 57, 236);
    min-height: 100vh;
    background-size: cover;
    background-repeat: repeat-y;
    color: white;
}

.main {
    min-height: 87vh;
}

a {
    text-decoration: none;
}


/* 
.App-logo {
    height: 40vmin;
    pointer-events: none;
} */


/* 
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
} */


/* .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
} */


/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */