.App {
    text-align: center;
    background-image: url("https://res.cloudinary.com/softquizy/image/upload/v1617354197/Softquizy-Background-Purple.jpg");
    background-color: rgb(84, 57, 236);
    min-height: 100vh;
    background-size: cover;
    background-repeat: repeat-y;
    color: white;
}

.main {
    min-height: 87vh;
}

a {
    text-decoration: none;
}

.quiz-link {
    border: 1px solid #2b415433;
    border-radius: 0.3rem;
    padding: 0.3rem;
    background-color: skyblue;
}