.home-container .quiz-img {
    display: inline-block;
    border: 1px solid #2b415433;
    /* margin: 0 auto; */
    text-align: center;
    /* border-radius: 3rem; */
    /* margin: 7rem 1rem 0rem 1rem; */
    /* box-shadow: 0px 0px 5px 2px blue; */
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.20);
    width: 17rem;
    height: 17rem;
}

.home-container .quiz-link {
    margin: 3em;
    display: inline-block;
}


/* .home-container .quiz-footer {
    margin-top: 5rem;
} */


/* .home-container .quiz-footer .quiz-nav {
    display: inline-block;
    padding: 0 1rem;
    margin: 0 3rem;
    border: olivedrab 1px solid;
    background-color: paleturquoise;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 29px;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.20);
} */