.quiz-content {
    padding: 1rem 7rem;
    text-align: center;
}

.quiz-content .profile-header {
    display: inline-block;
    float: left;
    width: 100%;
}

.quiz-content .profile-title {
    height: 21rem;
    font-size: 3rem;
    margin-top: 1rem;
    margin-right: 21rem;
}

.quiz-content .profile-logo {
    display: inline-block;
    float: left;
    height: 21rem;
    margin-left: 5rem;
    margin-top: 3rem;
}

.quiz-content .profile-page-buttons {
    text-align: center;
}

.quiz-content .profile-results .quiz-results {
    /* width: 70rem; */
    text-align: center;
    padding: 1rem 7rem;
}