.quiz-content {
    padding: 1rem 7rem;
    text-align: center;
}

.quiz-content .profile-header {
    display: inline-block;
    /* text-align: center; */
    float: left;
    width: 100%;
}

.quiz-content .profile-title {
    height: 21rem;
    font-size: 3rem;
    margin-top: 1rem;
    margin-right: 21rem;
}

.quiz-content .profile-logo {
    display: inline-block;
    float: left;
    /* background-image: url("https://res.cloudinary.com/softquizy/image/upload/v1617355783/profile-page-logo.gif"); */
    /* background-repeat: no-repeat; */
    /* min-height: 7rem; */
    height: 21rem;
    margin-left: 5rem;
    margin-top: 3rem;
}

/* .quiz-content .profile-page-buttons .quiz-results { */
.quiz-content .profile-page-buttons {
    /* width: 70rem; */
    text-align: center;
    /* padding: 1rem 7rem; */
}