.create-question-content {
    text-align: center;
}

.create-question-header {
    float: left;
    width: 15rem;
}

.create-question-logo {
    float: left;
    /* margin-left: 1rem; */
    width: 20rem;
    margin-top: 3rem;
}

.create-question-content .create-question-title {
    font-size: 3rem;
    margin-top: 1rem;
    display: inline-block;
}

.create-question-form {
    display: inline-block;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-right: 15rem;
    display: inline-flexbox;
}

.create-question-content .form-control {
    width: 20rem;
    border-radius: 0.3rem;
    padding: 0.5rem;
}

.create-question-content .text {
    width: 20rem;
    /* height: 57px; */
    padding: 0.3rem;
    margin-left: 0.5rem;
}

.create-question-content .incorrect-answer {
    width: 17rem;
    /* height: 57px; */
    padding: 0.3rem;
    margin-left: 0.5rem;
}

.create-question-content .remove-btn {
    vertical-align: top;
    margin-left: 0.5rem;
}

.create-question-content .create-btn {
    display: inline-block;
    padding: 0.5 1.5rem;
    margin: 2rem 3rem;
    border: olivedrab 1px solid;
    border-radius: 0.3rem;
    background-color: paleturquoise;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.20);
}