.create-form {
    /* background-image: url("https://i.gifer.com/Ea7y.gif"); */
    background-image: url("https://i.gifer.com/origin/45/456b64482119932b74a491c69a14e057.gif");
    background-repeat: no-repeat;
}

.create-form .form-control {
    width: 20rem;
    border-radius: 0.3rem;
    padding: 0.5rem;
}

.create-form .text {
    width: 20rem;
    height: 57px;
    padding: 0.3rem;
    margin-left: 0.5rem;
}

.create-form .incorrect-answer {
    width: 17rem;
    height: 57px;
    padding: 0.3rem;
    margin-left: 0.5rem;
}


/* .create-form .text-content {
    width: 300px;
    height: 200px;
} */

.create-form .remove-btn {
    vertical-align: top;
    margin-left: 0.5rem;
}

.create-form .create-btn {
    display: inline-block;
    padding: 0.5 1.5rem;
    /* padding: 0.3rem; */
    margin: 2rem 3rem;
    border: olivedrab 1px solid;
    border-radius: 0.3rem;
    background-color: paleturquoise;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.20);
}