.nav-header .navbar {
    /* background-image: url(''); */
    display: inline-block;
    width: 100%;
    /* background-color: skyblue; */
    background-color: rgb(182, 226, 243);
    /* color: red; */
}

.nav-header .navbar .nav-content {
    color: rgb(16, 16, 148);
    font-weight: 500;
    font-size: larger;
}

.nav-header .nav-logo {
    height: 10vmin;
    pointer-events: none;
    color: blue;
}

.nav-header .navbar-nav {
    display: inline;
    float: right;
    margin-top: 1.3rem
}

.nav-header .nav-item {
    display: inline;
    position: relative;
    margin-left: 0em;
    padding: 1rem;
}

.nav-header .navbar-brand {
    display: inline;
    text-decoration: none;
    float: left;
    padding: 1rem;
}

.nav-header .nav-link {
    color: darkblue;
    text-decoration: none;
    margin-left: 0.3rem;
}

.nav-header .matIcon {
    vertical-align: bottom;
}

.nav-header .matIcon-middle {
    vertical-align: top;
}

.nav-header .matIcon .external {
    margin-left: 0.1rem;
}